.main1 {
  min-height: 1000px;
  width: 100%;
  padding: 35px;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.data {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}
.pic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main {
  border: solid;
  background-color: aqua;
  flex-direction: row;
  flex-wrap: wrap;
}
.pho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 236, 233);
  padding: 25px;
  border-radius: 25px;
  width: 100%;
}
.line {
  color: aqua;
  width: 100%;
  border-width: 5px;
}
@media screen and (min-width: 755px) {
  .main1 {
    width: 100%;
  }
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pho {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.para {
  font-family: Arial, Helvetica, sans-serif;
}
